body {
    background: linear-gradient( -45deg, rgba(0, 180, 255, 0.8), rgba(0, 220, 209, 0.8)),
    url(./JAYMANTRI_15.jpg);
    background-size: cover;
    /* background: #00bfff; */
    width: 100%;
    margin: 0 auto;
}

/* header */

.header, .footer {
    text-shadow: 3px 3px 6px rgba(0,0,0,0.16);
}

/* .header .vert {
    color: #A2A2A2;
    font-size: 45px;
    font-family: Sinhala MN;
    font-weight: bold;
    /* transform: rotate(-90deg); */
    /* transform-origin: left top; */ 


/* .header .para {
    color: #393939;
    font-size: 45px;
    font-family: Sinhala MN;
    font-weight: bold;
    /* float: left; */


.header .sub{
    color: #393939;
    font-size: 20px;
    font-family: 'Optima', 'Ubuntu', sans-serif;
    font-style: italic;
    text-align: center;
    font-weight: bold;
}

/* name */

.name {
    text-align: center;
    margin-top: 40px;
}

.name img {
    width: 35%;
    /* float: left; */
}

/* profile */

.content {
    float: left;
    width: 33.33333%;
    text-align: center;
}
